<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head', {title: 'Form Report'}) %>
<h1>list Novels</h1>
<body>
    <table border="1">
        <thead>
            <th> Title</th>
            <th> Image Url</th>
            <th> Description</th>
            <th> authorName</th>
            <th> action</th>
        </thead>
    <tbody>
        <% data.forEach(e=> {%>
        <tr>
     <td><%= e.title %></td> 
     <td><%= e.imageUrl %></td> 
     <td><%= e.description %></td> 
     <td><%= e.authorName %></td> 
     <a href="/novels/detail"><td><button type="submit">Subscribe</button></td></a>
    <%}) %> 
</tr>   
</table>
    </tbody>
</body>
</html>